ul ul{
            display: none;
}
ul li:hover > ul{
       display: block;
            position: absolute;
            left: 0px;
            top: 50px;
}

.carousel-caption{
    z-index: 10;
}
.carousel-inner > .item > img{
    position: absolute;
    top: 50px;
    left: 0;
    min-width: 100%;
    height: auto;
}
.carousel-inner > .item{
    height: 500px;   
}

hr {
    border-top: 1px solid #c9c9c9;   
}
.info{
    background: #ffa753 url(../images/skyline.png) repeat-x bottom;
    padding: 80px 0;
}
.info small{
    color: #eeefe9;   
}
.ftr{
    background: url(../images/shattered.png) repeat;
    padding: 80px 0 60px 0;
}
.ftr address, .ftr a, .ftr p{
    color: #fff;   
}
.ft_space{
    padding: 0 10px;   
}
.head_udaan{
color:#ffffff;
}
.tpad{
    padding-top: 20px;
}
.padded{
    padding: 100px 15px;
}

@media(min-width: 768px){
.carousel-inner > .item{
    height: 700px;   
}
    
}

#signupdiv
{
	padding-top:40px;
	margin-top:20px;
}
.wel{
	padding-top:40px;
	padding-left: 10px;
	margin-top: 30px;
}
#show
{
	padding-bottom: 5px;
	z-index: 10px;
	background-color: gray;
}
#img_in_cart
{
	width:200px;
	height:200px;

}
#img_in_admin
{
	width:300px;
	height:300px;
}


@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 